PORT=3000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/cab?retryWrites=true&w=majority&appName=<appName>
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@cab.com
ADMIN_PASSWORD=Admin@123
ADMIN_NAME=Admin
ADMIN_PHONE=9999999999
